                                                     . : 23 OUNCES OF GLASS : :
                                                       for Enlightenment DR16

Additional configuration information.

  If you enable these buttons and things mess up, you are on your own!
  This entire toolbar is barely out of concept status and needs a great
  deal of work to be useable. If you like to play, read on ;) just remember

    You have been warned!

  -------------------------

Files in this directory

disable-tb      *.cfg files to disable the toolbar
enable-tb       *.cfg files to enable the toolbar
sticky_toolbar  *.cfg files to stick the toolbar to all multiple desktops

enable the toolbar by copying all the .cfg files into the root dir of the
theme. e.g.

           $ cp enable-tb/*.cfg ../

This will overwrite the files in the root dir of this theme, you will then
need to purge all caches and restart the theme.

To disable the toolbar copy the .cfg files from the disable-tb dir in the
same way.

The toolbar is not sticky by default, this is due to the fact that it's
raised above *ALL* windows, but won't display on multiple desktops (only
virtual ones). If you do use multiple desktops and wish to use the toolbar,
copy sticky_toolbar/buttons-STICK.cfg to ../buttons/buttons.cfg. there's also
a file called buttons-ORIG.cfg in that directory should you wish to unstick
the toolbar. You will need to change to a different theme or log out of
enlightenment for these changes to take effect.